<h1>Task Counter</h1>
<p>This task you have to transform the private variable into a parameter with the name CurrentCount so that the calling page can set an initial state.</p>
<p>Furthermore if the value is negative the component should set the value back to zero</p>
<p id="current-count">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }
}
