@page "/increment"
<h3>Increment</h3>
<p><strong>The task:</strong> Provide two input boxes where you can add numbers. On a button click the sum of those two numbers should be calculate and displayed</p>
<p>Provide the following id's (&lt;input id="number-1"...&gt;)for your input-controls:</p>
<ul>
    <li>number-1</li>
    <li>number-2</li>
</ul>
<p>The result should be shown in the given &lt;p&gt;-tag with the id sum</p>
<p>Go to IncrementTest and run it. If it is green, voilà you did it!</p>
<p>Hint: For bindings of any input element you can use the &commat;bind</p>

<div class="task">
    <div class="input">
    </div>
    <button id="calculate">Calculate sum</button>
    <div class="result">
        <p>The sum is: </p>
        <p id="sum"></p>
    </div>
</div>
@code {
}
