@page "/increment"
<h3>Increment</h3>
<p><strong>The task:</strong> Provide two input boxes where you can add numbers. On a button click the sum of those two numbers should be calculate</p>
<p>Provide the following id's for your controls:</p>
<ul>
    <li>number-1</li>
    <li>number-2</li>
</ul>
<p>The result should be shown in the given &lt;p&gt;-tag with the id sum</p>

<div class="task">
    <div class="input">

    </div>
    <div class="result">
        <p>The sum is: </p>
        <p id="sum"></p>
    </div>
</div>
@code {

}
